#imgSematLogo {
    height: 50px;
}

#divMenuItems {
    justify-content: flex-end;
}

#divAreaUtil {
    padding-top: 80px;
}

.card {
    margin-top: 10px;
}

.secao-cabecalho {
    color: #f58634
}

p {
    color: rgba(0,0,0,.7);
}

.bold {
    font-weight: bold;
}
